<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <title>页面调试</title>

    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        a { color:red; transition:0.5s; }
        a:hover {
            color:orange;
            text-decoration:none;
        }
        .caption {margin-top: 10px; margin-left: 15px;}
        .cover {height: 225px;}
        .movie {padding: 0;}
    </style>
</head>
<body>

<div th:replace="header :: header"></div>
<div th:replace="header :: modal"></div>

<div id="demo" class="carousel slide" data-ride="carousel" style="padding-top: 65px">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://image13.m1905.cn/uploadfile/2018/0514/20180514095931272662.jpg">
        </div>
        <div class="carousel-item">
            <img src="http://image14.m1905.cn/uploadfile/2018/0523/20180523015730101727.jpg">
        </div>
        <div class="carousel-item">
            <img src="http://image14.m1905.cn/uploadfile/2018/0416/20180416100719512951.jpg">
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div style="margin-top: 30px">
    <div class="container">
        <a href="/list/coming_soon"><h3 style="color: #000;">即将上映</h3><hr></a>
    </div>
</div>

<div class="container">
    <div class = "row" id="comming">
        <div class="col-md-2 movie" th:each="comming : ${commings}">
            <a th:href="'/detail/' + ${comming.id}">
                <img class="col-md-12 cover" th:src="${comming.img}">
            </a>
            <div class="caption">
                <h7 th:text="${comming.name}"></h7><br>
                <span>评分：</span>
                <h7 th:if="${comming.average gt 0.0}" th:text="${comming.average}"></h7>
                <h7 th:if="${comming.average eq 0.0}">暂无评分</h7>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 30px">
    <div class="container">
        <a href="/list/in_theaters"><h3 style="color: #000;">最受欢迎</h3><hr></a>
    </div>
</div>

<div class="container">
    <div class = "row">
        <div class="col-md-2 movie" th:each="threater : ${threaters}">
            <a th:href="'/detail/' + ${threater.id}">
                <img class="col-md-12 cover" th:src="${threater.img}">
            </a>
            <div class="caption">
                <h7 th:text="${threater.name}"></h7><br>
                <span>评分：</span><h7 th:text="${threater.average}"></h7>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 30px">
    <div class="container">
        <a href="/lay"><h3 style="color: #000;">为您推荐</h3><hr></a>
    </div>
</div>

<div class="container">
    <div class = "row">
        <div class="col-md-2 movie" th:each="recommend : ${recommends}">
            <a th:href="'/detail/' + ${recommend.id}">
                <img class="col-md-12 cover" th:src="${recommend.img}">
            </a>
            <div class="caption">
                <h7 th:text="${recommend.name}"></h7><br>
                <span>评分：</span><h7 th:text="${recommend.average}"></h7>
            </div>
        </div>
    </div><br><br><br>
</div>
</body>
</html>
<script src="/index.js"></script>